<header class="sticky top-0 z-50 bg-slate-900 border-b">
    <a href="/" class="header_logo">WELCOME TO TECH BLOG</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>  
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <a href="/logout">Logout</a>
    </div>
</header>