<header class="header">
    <a href="/" class="header_logo">Next Tech Blog</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>  
                <a href="/contact" class="">Contact</a>
            </li>
            <li>
                <a href="/register" class="">Sign-Up</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <button class="searchBtn" aria-expanded="false">
            search
            <svg width="17" height="17">
            </svg>
        </button>
    </div>
</header>