<nav class="sticky top-0 z-50 flex justify-between bg-amber-900 border-b items-center py-4 px-8 lg:px-20 text-white">
    <div class="container mx-auto flex items-center justify-between">
        <a href="/" class="md:text-2xl text-lg">Next Tech Blog</a>
        
        <!-- Desktop Nav  -->
        <div class="hidden md:flex space-x-4">
            <a href="/" class="nav-link hover:underline"  id="home-link">Home</a>
            <a href="/about" class="nav-link hover:underline" id="about-link">About</a>
            <a href="/contact" class="nav-link hover:underline" id="contact-link">Contact</a>
            <a href="/register" class="nav-link hover:underline" id="register-link">Register</a>
        </div>

        <!-- Search -->
        <div class="relative">
            <button id="toggle-search-button" class="text-white">
                Search
            </button>
            <div id="search-field" class="hidden absolute top-0 right-0 mt-12 w-40 md:w-96 bg-transparent">
                <input type="text" class="w-full text-black border rounded focus:outline-none focus:border-amber-600" placeholder="Search here">
            </div>
        </div>

        <!-- Mobile Nav -->
        <div class="md:hidden">
            <button id="mobile-menu-button" class="text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>

    </div>
</nav>

<!-- Mobile Nav -->
<div id="mobile-menu" class="md:hidden hidden bg-amber-900 p-4 text-white border-b-2">
    <a href="/" class="block mb-2">Home</a>
    <a href="/about" class="block mb-2">About</a>
    <a href="/contact" class="block mb-2">Contact</a>
    <a href="/register" class="block mb-2">Register</a>
</div>