<header class="header bg-amber-900 border-b-2 sticky">
    <a href="/" class="header_logo">WELCOME TO TECH BLOG</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Home</a>
            </li>
            <li>
                <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">About</a>
            </li>
            <li>  
                <a href="/contact" class="<%= isActiveRoute('/contact', currentRoute) %>">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <a href="/logout">Logout</a>
    </div>
</header>