<section class="container mx-auto px-8 lg:px-20 pt-10">
  <!-- About Us -->
  <h1 class="text-3xl text-center mb-8 font-semibold">About Us</h1>
  <div class="lg:flex justify-between mb-8 lg:mb-20">
    <div class="grid lg:w-1/2 content-between gap-5">
      <div>
        <h2 class="text-lg lg:text-xl">Our Vision</h2>
        <p class="text-gray-700 leading-7 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius eu libero in consequat. Integer eu justo in nunc bibendum facilisis. Phasellus quis velit eget quam hendrerit tincidunt.
        </p>
      </div>
      <div>
        <h2 class="text-lg lg:text-xl">Our Mission</h2>
        <p class="text-gray-700 leading-7 mb-4">
          Vivamus euismod est vel justo tristique, a dignissim lectus vulputate. Nam hendrerit arcu in dolor malesuada, non facilisis felis volutpat. Etiam eget nisl lacinia, fermentum turpis in, scelerisque odio.
        </p>
      </div>
      <div>
        <h2 class="text-lg lg:text-xl">Our Story</h2>
        <p class="text-gray-700 leading-7 mb-4">
          Vivamus euismod est vel justo tristique, a dignissim lectus vulputate. Nam hendrerit arcu in dolor malesuada, non facilisis felis volutpat. Etiam eget nisl lacinia, fermentum turpis in, scelerisque odio.
        </p>
      </div>
    </div>
    <div class="lg:w-2/5 lg:grid content-center">
      <img src="/img/tech.jpg" alt="">
    </div>
  </div>

  <!-- Our Team -->
  <div>
    <h1 class="text-center text-xl lg:text-2xl mb-4">Our Team</h1>
    <div class="grid lg:flex gap-5 md:gap-8 text-white">
      <div class="grid md:grid-cols-2 lg:w-1/2">
        <div>
          <img src="/img/avatar.png" alt="">
        </div>
        <div class="bg-slate-900 grid justify-items-center p-4 lg:p-8">
          <h2 class="text-xl lg:text-2xl">Bongani Baloyi</h2>
          <p>Software Engineer</p>
          <div class="flex gap-2">
            <a href=""><i class="fa-brands fa-facebook animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-instagram animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-twitter animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-linkedin animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-github animate-pulse"></i></a>
          </div>
        </div>
      </div>
      <div class="grid md:grid-cols-2 lg:w-1/2">
        <div class="md:order-last">
          <img src="/img/avatar.png" alt="">
        </div>
        <div class="bg-slate-900 grid justify-items-center p-4 lg:p-8 lg:order-last">
          <h2 class="text-xl lg:text-2xl">Godwin Woode</h2>
          <p>Software Engineer</p>
          <div class="flex gap-2">
            <a href=""><i class="fa-brands fa-facebook animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-instagram animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-twitter animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-linkedin animate-pulse"></i></a>
            <a href=""><i class="fa-brands fa-github animate-pulse"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>