<div class="h-1/2 grid bg-amber-900 px-8 lg:px-20 py-10 lg:py-24 text-white">
    <h1 class="text-center text-2xl mb-5 lg:mb-10">Welcome to Next Tech Blog</h1>
    <p class="text-center">
        Let us come together and celebrate our shared passion for technology through this exciting endeavor.
        I am confident that this platform will foster a sense of community and empower individuals to connect,
        learn, and grow within the tech industry.
    </p>
    
</div>

<div class="grid">
    <img src="/img/question.png" alt="question yourself" class="justify-self-center">
</div>

<section class="articles px-8 lg:px-20 pt-5 lg:pt-10">
    <h2 class="articles_heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list_date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
    
</section>